{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Lunch Recipes</h1>

<div class="row">
    {% for meal in meals %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ meal.strMealThumb }}" class="card-img-top" alt="{{ meal.strMeal }}">
                <div class="card-body">
                    <h5 class="card-title">{{ meal.strMeal }}</h5>
                </div>
                <div class="card-footer">
                    <a href="{% url 'meal_detail' meal.idMeal %}" class="btn btn-primary btn-sm">View Recipe</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
